.policy-label {
  display: flex;
  justify-content: center;
  align-items: center;

  .policy-label__icon {
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color;
    border-radius: 2px;
  }

  .policy-label__text {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: $icon-color;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .policy-label__link {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    border-bottom: 1px solid $bg-color;
    color: $bg-color;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .policy-label__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.policy-label__checkbox:checked + .policy-label__icon {
  border-color: $bg-color;
  background-color: $bg-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
