$bg-color: #2196f3;
$text-color: #fff;
$title-color: #212121;
$icon-color: #757575;
$font-weight: normal;
$font-500: 500;
$font-700: 700;
$font-900: 900;
$font-size: normal;
$font-style: normal;
$font-raleway: Raleway;
